In [10]:
number = 0
for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j = {j})")
        if i == 2 and j == 3:
            break
    if i == 2 and j == 3:
        break
        
            
print(number)

(i = 0, j = 0)
(i = 0, j = 1)
(i = 0, j = 2)
(i = 0, j = 3)
(i = 0, j = 4)
(i = 1, j = 0)
(i = 1, j = 1)
(i = 1, j = 2)
(i = 1, j = 3)
(i = 1, j = 4)
(i = 2, j = 0)
(i = 2, j = 1)
(i = 2, j = 2)
(i = 2, j = 3)
0

In [23]:
### 사용자로부터 n개의 별의 갯수를 입력받은 뒤, 
# 별을 출력하되 별의 갯수만큼 출력하다가 별이 소진되면 멈추는 코드 작성.

n = 10
for i  in range(n):
    stars = ["*"]
    print(" " *(n-i) + "*" *(2*i-1))
    if len(stars) > n:
        break

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [36]:
n = 10
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()
    if i+1 > n:
        break

*
**
***
****
*****
******
*******
********
*********
**********

In [38]:
n = 30

star = 0
break_all = False

for i in range(1,10+1):
    for j in range(i):
        star += 1
        if star > n:
            break_all = True
            break
        print("*", end="")
    if break_all:
        break
    print()

*
**
***
****
*****
******
*******
**

In [39]:
my_Str = "hello, python"
print(my_Str[7])

p

In [40]:
#문자열 데이터의 여러가지 기능들.
my_str = "hello, python"

my_str.lower()

'hello, python'

In [41]:
my_str.upper()

'HELLO, PYTHON'

In [46]:
words =my_Str.split(",")
print(words)

['hello', ' python']

In [48]:
a,b = int(input().split())
print(a,b)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [49]:
numbers = [1,2,3,4,5]

In [50]:
type(numbers)

list

In [51]:
fruits = ["apple, banana, orange"]

In [62]:
print(fruits[:1])

['apple, banana, orange']

In [63]:
fruits[0]

'apple, banana, orange'

In [64]:
fruits.split()

AttributeError: 'list' object has no attribute 'split'

In [65]:
numbers.sort(reverse=True)

In [66]:
numers

NameError: name 'numers' is not defined

In [67]:
print(numbers)

[5, 4, 3, 2, 1]

In [76]:
number4 = [i for i in range(1,10+1) if i % 2 == 0]
number4

[2, 4, 6, 8, 10]

In [74]:
number4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
num_list = []
for i in range(10):
    num_list.apprnd(i)
num_list

AttributeError: 'list' object has no attribute 'apprnd'

In [78]:
marks = [90,25,67,45,80]

for i in range (len(marks)):
    if marks[i] >= 60:
        print("pass")
    else:
        print("fail")
print(marks[i])

pass
fail
pass
fail
pass
80

In [79]:
marks = [90,25,67,45,80]

for i in marks:
    print(i)

90
25
67
45
80

In [ ]:
#끝말잇기
print("끝말잇기 게임")
print("시작")
var = "가나다"
word = [input("단어를 입력해주세요")]
while True:
    


print(var)

끝말잇기 게임
시작
가나다

In [88]:
var = "가나다"
while True:
    answer = input("단어를 입력:")
    print(answer)
    if answer[0] == var[-1]:
        var == answer
    else:
        print("땡")
        break

다람쥐
쥐포
땡

In [102]:
numberss = [4,4,4,3,3]
result = []
for i in range(len(numberss)-1):
    if numberss[i] != numberss[i+1]:
        result.append(numberss[i])
        #i가 마지막 인덱스일 때 i+1이 없으니 돌지 않습니다.
if numberss:
    result.append(numberss[-1])
print(result)

[4, 3]

In [93]:
numberss = [1,1,3,3,0,1,1]
result = []
prev = None
for num in numberss:
    if num != prev:
        result.append(num)
    prev = num

print(result)

[1, 3, 0, 1]

In [103]:
#딕셔너리#

In [106]:
student = {"name" : "jimin", "age":29, "hobby": "gmae"}

In [107]:
type(student)

dict

In [109]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 

n = int(input().split())
mose_list = input().split()

result = []
for i in mose_list:
    result.append(morse[i])
print("".join(result))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [111]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 

letter = ".... . .-.. .-.. ---"

a = letter.split()

answer = ""
for i in a:
    answer += morse[i]
print(answer)

hello

In [113]:
# set() == 집합, 중복제거

my_list = [1,2,2,4,5,5,5,6,2,4,3,4,5,]

list(set(my_list))

[1, 2, 3, 4, 5, 6]

In [114]:
a = {1,2,3,4}
b = {3,4,5,6}

In [115]:
a | b

{1, 2, 3, 4, 5, 6}

In [116]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [117]:
a.intersection(b)

{3, 4}

In [118]:
a.difference(b)

{1, 2}

In [119]:
#빼빼로데이

#빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
#이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
#구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

#입력1
#["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

#출력1
#['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

pepero = '누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키'

pero = input().split()
answer = []

print(sorted(set(pepero)))

['누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키']

In [133]:
word = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

a = word.split()
print(len(set(a)))

7

In [140]:
def my_func(a):
    print(f"{a}, my function")

In [142]:
my_func("hey")
my_func("hi")

hey, my function
hi, my function

In [147]:
# 세개의 숫잘르 입력하여 가장 큰 수를  출력,

def max_num(a,b,c) :
    max_Val = a
    if b > max_Val:
        max_val = b
    if c > max_val:
        max_Val = c
    return max_val
num = max_num(1,2,3)

In [148]:

return max_val

SyntaxError: 'return' outside function (3727906321.py, line 1)

In [149]:
def min_num(arr):
    answer = arr[0]
    for i in arr:
        if answer > i:
            answer = i
        return answer

In [150]:
def num_min(arr):
    answer = arr[0]
    for i in arr:
        if answer > i:
            answer = i

In [151]:
def add_many(*args):
    pass

In [152]:
add_many(1,2,3,4,5,6,7)